* {
    font-family: 'Arial', sans-serif;
    transition: all 0.5s;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 229, 208);
}

.selectTable {
    background-color: rgb(243, 82, 82);
    padding: 10px;
    border-radius: 20px;
}

.game {
    background-color: rgb(243, 82, 82);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: clamp(250px, 31vw, 500px); */
    height: clamp(400px, 50vw, 700px);
    display: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

#mixed {
    width: 400%;
}

h1 {
    text-align: center;
    font-size: clamp(40px, 6vw, 100px);
}

.results p {
    text-align: center;
    font-size: clamp(20px, 3vw, 50px);
}

button {
    border: solid;
    padding: 10px;
    font-size: clamp(10px, 1.65vw, 30px);
    font-weight: bold;
    border-radius: 20px;
    background-color: whitesmoke;
    transition: all 0.2s;
    border-color: black;
    color: black;
}

button:hover {
    background-color: #d0d0d0;
}

button:active {
    background-color: #9c9c9c;
}

.game button {
    font-size: clamp(25px, 3vw, 75px);
    /* width: clamp(50px, 6vw, 1000px);
    height: clamp(50px, 7vw, 17500px); */
}

p {
    font-weight: bold;
    font-size: clamp(15px, 2.1vw, 20px);
}

.results {
    background-color: rgb(243, 82, 82);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: clamp(250px, 31vw, 500px); */
    height: clamp(200px, 25vw, 350px);
    display: none;
}

::-webkit-scrollbar {
    background: rgb(246, 229, 208);
}

::-moz-scrollbar {
    background: rgb(246, 229, 208);
}

::-ms-scrollbar {
    background: rgb(246, 229, 208);
}
